! Terminal
urxvt*geometry: 80x24
urxvt*scrollBar: false

! Window
#define background_opacity 87
urxvt*depth: 32

! Fonts
urxvt.font: xft:Source Code Pro:style=Regular:size=14

! Theme
#include ".Xresources.d/base16/base16-rebecca-256.Xresources"
